.main {
	width: 110%;
	text-align:center;
	background-color: steelblue;
	padding: 2px;
	margin-left: -10px;
}

.main p {
	padding-right: 150px;
}

.name {
	float: left;
	position: relative;
	margin-top:50px;
}

.depot {
float: right;
height: 100%;
width: 60%;


}


.archive {

	float: left;
	width: 450px;
	height: 400px;


}

.gauche {
	float:left;
}

.centre {
	align:center;
}

.droite {
	float:right;
}

.column {
	
  width:100%;
}

}
body {

	background-color: #404040;
	color: #FDB239;
}

table {
	margin-left: auto;
  margin-right: auto;
}

.ligne {
	border: 2px solid black;
}