body{
	margin-top: 200px;
	text-align:center;
}
.navbar-header{
	marging-bottom:50px;
	height:100px;
}

li.right {
	color:white;
    position: absolute;
    right: 20px;
}

.showBox{
	width:300px;
}

table{
	margin-left:50px;
	border-spacing:40px;
}

.subSelect{
	margin-left:20px;
}
